TELEGRAM_TOKEN=pega_aqui_el_token_de_botfather
ANTHROPIC_API_KEY=pega_aqui_tu_api_key_de_anthropic
OPENAI_API_KEY=pega_aqui_tu_api_key_de_openai
ALLOWED_USER_ID=6110475762
WORKING_DIR=/Users/lara/proyectos
TTS_VOICE=nova
TTS_MODEL=tts-1
STT_MODEL=whisper-1
